@import 'mixins.scss';

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

$width: ( "minimum": 320px );


//  PARA OBTER AS CORES:
//      Escolher a cor média aqui de preferência: https://www.rapidtables.com/web/color/green-color.html
//      Colar nesse site e copiar a tabela hex excluindo a primera e a última: https://www.w3schools.com/colors/colors_picker.asp
//      Ir nesse site para usar os Regex Replace: https://www.browserling.com/tools/regex-replace
//      Usar como Regex na seguinte orgem sendo o primeiro o Regex e o segundo o Replacement (sem a primeira e última áspas):
//          "/\n/gi"                ", "
//          "/\s+/g"                " "
//          "/\d+%/gi"              """:"
$blue: ( "9": #e6f5ff, "8": #ccebff, "7": #b3e0ff, "6": #99d6ff, "5": #80ccff, "4": #66c2ff, "3": #4db8ff, "2": #33adff, "1": #1aa3ff, "0": #0099ff, "-1": #008ae6, "-2": #007acc, "-3": #006bb3, "-4": #005c99, "-5": #004d80, "-6": #003d66, "-7": #002e4d, "-8": #001f33, "-9": #000f1a );

$gray: ( "9": #f2f2f2, "8": #e6e6e6, "7": #d9d9d9, "6": #cccccc, "5": #bfbfbf, "4": #b3b3b3, "3": #a6a6a6, "2": #999999, "1": #8c8c8c, "0": #7f7f7f, "-1": #737373, "-2": #666666, "-3": #595959, "-4": #4d4d4d, "-5": #404040, "-6": #333333, "-7": #262626, "-8": #1a1a1a, "-9": #0d0d0d );

$purple: ( "9": #f8ecf7, "8": #f1daef, "7": #eac7e7, "6": #e3b5e0, "5": #dda2d8, "4": #d68fd0, "3": #cf7dc8, "2": #c86ac0, "1": #c157b8, "0": #b945b0, "-1": #a83e9f, "-2": #95378d, "-3": #82307b, "-4": #70296a, "-5": #5d2258, "-6": #4a1c47, "-7": #381535, "-8": #250e23, "-9": #130712 );

$yellow: ( "9": #fbf7e9, "8": #f8efd3, "7": #f4e7bd, "6": #f1dea7, "5": #edd691, "4": #eace7b, "3": #e6c665, "2": #e2be50, "1": #dfb63a, "0": #daac24, "-1": #c59c20, "-2": #af8b1d, "-3": #9a7919, "-4": #846815, "-5": #6e5712, "-6": #58450e, "-7": #42340b, "-8": #2c2307, "-9": #161104 );

$red: ( "9": #ffe6e6, "8": #ffcccc, "7": #ffb3b3, "6": #ff9999, "5": #ff8080, "4": #ff6666, "3": #ff4d4d, "2": #ff3333, "1": #ff1a1a, "0": #ff0000, "-1": #e60000, "-2": #cc0000, "-3": #b30000, "-4": #990000, "-5": #800000, "-6": #660000, "-7": #4d0000, "-8": #330000, "-9": #1a0000 );

$green: ( "9": #e6ffe6 , "8": #ccffcc , "7": #b3ffb3 , "6": #99ff99 , "5": #80ff80 , "4": #66ff66 , "3": #4dff4d , "2": #33ff33 , "1": #1aff1a , "0": #00ff00 , "-1": #00e600 , "-2": #00cc00 , "-3": #00b300 , "-4": #009900 , "-5": #008000 , "-6": #006600 , "-7": #004d00 , "-8": #003300 , "-9": #001a00 );

$button: ("width": 37px, "height": 37px);

.display_none {
    @include display(none);
}

.display_block {
    @include display(block);
}

.display_flex_row {
    @include display(flex);
}

.display_flex_column {
    @include display(flex, column);
}

@for $i from 0 through 10 {
    .flexGrow_#{$i} {
        flex-grow: $i;
    }
}

.fillNone {
    fill: none;
}

.align_items_center {
    align-items: center;
}

.align_self_center {
    @include align_self;
}

.justify_content_center {
    justify-content: center;
}

.flex_basis_minimum {
    width: map-get($width, "minimum");
}

.text_align_center {
    text-align: center;
}

.status_New {
    svg {
        fill: map-get($yellow, "-3");
    }
}

.status_Idle {
    svg {
        fill: map-get($blue, "-4");
    }
}

.status_Running {
    svg {
        fill: map-get($green, "-4");
    }
}

.status_Finished {
    svg {
        fill: map-get($green, "-6");
    }
}

.status_Cancelled {
    svg {
        fill: map-get($gray, "-4");
    }
}

.status_Failed {
    svg {
        fill: map-get($red, "-3");
    }
}

.status_Completed {
    svg {
        fill: map-get($green, "-3");
    }
}