@using SharedLibrary.Services
@using SharedLibrary.Components.SVGs

@inject SessionService session

<div class="toolbar_left @ExtraStyle">
    <div class="toolbar_logo">
        <a href="/"><img src="images/system/icon_system.png" /></a>
    </div>
    <div class="toolbar_button">
        <MenuSVG />
    </div>
    @if (session.UserIsLogged())
    {
        <div class="toolbar_button">
            <AccountSVG />
        </div>
    }
</div>

@code {
    [Parameter]
    public string ExtraStyle { get; set; } = "";
}
