@font-face {
  font-family: "Roboto";
  src: url("font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html,
body {
  background: #333333;
  color: #F1F1F1; }

.display_none {
  display: none; }

.display_block {
  display: block; }

.display_flex_row {
  display: flex;
  flex-direction: row; }

.display_flex_column {
  display: flex;
  flex-direction: column; }

.flexGrow_0 {
  flex-grow: 0; }

.flexGrow_1 {
  flex-grow: 1; }

.flexGrow_2 {
  flex-grow: 2; }

.flexGrow_3 {
  flex-grow: 3; }

.flexGrow_4 {
  flex-grow: 4; }

.flexGrow_5 {
  flex-grow: 5; }

.flexGrow_6 {
  flex-grow: 6; }

.flexGrow_7 {
  flex-grow: 7; }

.flexGrow_8 {
  flex-grow: 8; }

.flexGrow_9 {
  flex-grow: 9; }

.flexGrow_10 {
  flex-grow: 10; }

.fillNone {
  fill: none; }

.align_items_center {
  align-items: center; }

.align_self_center {
  align-self: center; }

.justify_content_center {
  justify-content: center; }

.flex_basis_minimum {
  width: 320px; }

.text_align_center {
  text-align: center; }

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html,
body {
  background: #333333;
  color: #F1F1F1; }

.display_none {
  display: none; }

.display_block {
  display: block; }

.display_flex_row {
  display: flex;
  flex-direction: row; }

.display_flex_column {
  display: flex;
  flex-direction: column; }

.flexGrow_0 {
  flex-grow: 0; }

.flexGrow_1 {
  flex-grow: 1; }

.flexGrow_2 {
  flex-grow: 2; }

.flexGrow_3 {
  flex-grow: 3; }

.flexGrow_4 {
  flex-grow: 4; }

.flexGrow_5 {
  flex-grow: 5; }

.flexGrow_6 {
  flex-grow: 6; }

.flexGrow_7 {
  flex-grow: 7; }

.flexGrow_8 {
  flex-grow: 8; }

.flexGrow_9 {
  flex-grow: 9; }

.flexGrow_10 {
  flex-grow: 10; }

.fillNone {
  fill: none; }

.align_items_center {
  align-items: center; }

.align_self_center {
  align-self: center; }

.justify_content_center {
  justify-content: center; }

.flex_basis_minimum {
  width: 320px; }

.text_align_center {
  text-align: center; }

form * {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: solid 2px #005c99;
  transition: all ease-out .25s; }

form *:focus {
  outline: none;
  border: solid 2px #66c2ff; }

form button {
  background: #007acc;
  color: #cceafe; }

form button:hover {
  background: #0099ff;
  color: white; }

.login_form_container {
  height: 100%; }

.login_form {
  position: relative;
  box-sizing: border-box;
  border: solid 2px #005c99;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px; }

.login_form_or {
  margin-top: 30px;
  margin-bottom: 30px; }

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html,
body {
  background: #333333;
  color: #F1F1F1; }

.display_none {
  display: none; }

.display_block {
  display: block; }

.display_flex_row {
  display: flex;
  flex-direction: row; }

.display_flex_column {
  display: flex;
  flex-direction: column; }

.flexGrow_0 {
  flex-grow: 0; }

.flexGrow_1 {
  flex-grow: 1; }

.flexGrow_2 {
  flex-grow: 2; }

.flexGrow_3 {
  flex-grow: 3; }

.flexGrow_4 {
  flex-grow: 4; }

.flexGrow_5 {
  flex-grow: 5; }

.flexGrow_6 {
  flex-grow: 6; }

.flexGrow_7 {
  flex-grow: 7; }

.flexGrow_8 {
  flex-grow: 8; }

.flexGrow_9 {
  flex-grow: 9; }

.flexGrow_10 {
  flex-grow: 10; }

.fillNone {
  fill: none; }

.align_items_center {
  align-items: center; }

.align_self_center {
  align-self: center; }

.justify_content_center {
  justify-content: center; }

.flex_basis_minimum {
  width: 320px; }

.text_align_center {
  text-align: center; }

.button_blue {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  margin-top: 5px;
  padding: 5px;
  color: #66c2ff;
  background: #005c99;
  border: solid 1px #007acc;
  transition: all ease-out .25s;
  -webkit-user-select: none; }

.button_blue:hover {
  color: white;
  background: #007acc;
  border: solid 1px #001e33; }

.button_blue:active {
  color: #e8cd7c;
  background: #826716;
  border: solid 1px #ae8a1d;
  transition: none; }

.button_blue:disabled {
  border: solid 1px #191919;
  color: #e5e5e5;
  background: #4c4c4c;
  cursor: not-allowed; }

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html,
body {
  background: #333333;
  color: #F1F1F1; }

.display_none {
  display: none; }

.display_block {
  display: block; }

.display_flex_row {
  display: flex;
  flex-direction: row; }

.display_flex_column {
  display: flex;
  flex-direction: column; }

.flexGrow_0 {
  flex-grow: 0; }

.flexGrow_1 {
  flex-grow: 1; }

.flexGrow_2 {
  flex-grow: 2; }

.flexGrow_3 {
  flex-grow: 3; }

.flexGrow_4 {
  flex-grow: 4; }

.flexGrow_5 {
  flex-grow: 5; }

.flexGrow_6 {
  flex-grow: 6; }

.flexGrow_7 {
  flex-grow: 7; }

.flexGrow_8 {
  flex-grow: 8; }

.flexGrow_9 {
  flex-grow: 9; }

.flexGrow_10 {
  flex-grow: 10; }

.fillNone {
  fill: none; }

.align_items_center {
  align-items: center; }

.align_self_center {
  align-self: center; }

.justify_content_center {
  justify-content: center; }

.flex_basis_minimum {
  width: 320px; }

.text_align_center {
  text-align: center; }

.social_media_login {
  position: relative;
  box-sizing: border-box;
  border: solid 2px #005c99;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px; }

.social_media_login_label, .login_form_label {
  font-size: 14px;
  background: #333333;
  z-index: 1;
  position: absolute;
  top: -10px;
  left: 30px;
  padding-left: 10px;
  padding-right: 10px; }

.social_button {
  background: white;
  height: 37px;
  width: 37px;
  border-radius: 10px;
  border: solid 2px white;
  margin: 10px;
  transition: all ease-out .25s; }

.social_button:hover {
  border: solid 2px #66c2ff; }

a, a:visited {
  color: #007acc;
  text-decoration: none; }

a:hover {
  color: #cceafe; }

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0; }

html, body, app {
  height: 100%; }

main {
  height: calc(100% - 37px);
  flex: 1; }

nav {
  height: 37px; }

.toolbar_left {
  z-index: 1;
  display: flex;
  position: absolute; }

.toolbar_logo {
  height: 37px;
  width: 64px; }

.toolbar_button {
  height: 37px;
  width: 40px; }
  .toolbar_button svg {
    fill: #cccccc; }

.toolbar_button:hover {
  background: #999999; }

.drag_enable {
  z-index: 0;
  -webkit-app-region: drag;
  -webkit-user-select: none; }

.drag_disable {
  -webkit-app-region: no-drag;
  z-index: 1; }

.toolbar_right {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px; }
